<!DOCTYPE html>
<html lang="en">
<head>
  <title>empsec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $("#add").click(function(){
            var email = $("#email").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td><input type='hidden'  id='mail' name='mail' value='" + email + "'readonly/>"+email+"</td></tr>";
            $("table tbody").append(markup);
            $("#email").val('');
        });
        
        // Find and remove selected table rows
        $("#delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
    });    
</script>
</head>
<body>

<div class="jumbotron jumbotron-fluid text-center">
    <img src="logoc.png" alt="logo">
  <p>Add emails of people you want to test and click the red button</p> 
</div>
  
<div class="container">
<form class = "form-group" method="post">
        <input type="text" class="form-control" id="email" placeholder="Email Address">
        <br>
        <input type="button" id ="add"class= "btn btn-success" value="Add Row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Select</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <button type="button" class="btn btn-danger" id="delete-row">Delete Row</button>
    <br>
    <br>
    <input type="submit" value = "submit" class="btn btn-danger btn-lg btn-block">
</form>
</div>

</body>
</html>